*{
    margin: 0;
    padding:0%;
    box-sizing:border-box;
}
.body {
    background-color: rgb(176, 184, 209);
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor_principal{
    flex: auto;
    display: flex;
    height: 100vh;
    text-align: center;
}
.main{
    flex: 4;
    padding: flex;
    background-color: blue;
    overflow: auto;
    ;
}
.menu{
    flex:4;
    background-color: chartreuse;
    color: blue;
    display:flex ;
    align-items: center;
    justify-content: center;
}
menu ul{
    margin: 40px;
    list-style: none;
    text-align: center;
}
menu li{
    margin: 20px;
}
menu a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    transition: color 0,3s ease;
}
.menu a:hover{
    color: blue;
}
img{
    width: 100px;
    height: 100px;
}
